.btnSee{
    background-color: transparent;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid gray;
}

.btnSee:child(){
    background-color: transparent;
}

.btnSee:hover{
    background-color: rgb(209, 207, 207);
    border:1px solid gray;
}

.btnSee:active{
    background-color: transparent !important;
    border: 1px solid gray !important;
}

.icon{
    color: gray;
}